<h1>Select a Trip</h1>

<ul>
<% @trips.each do |trip| %>
    <li><%= link_to trip.name, trip %></li>
     <%= trip.start_date%> through <%= trip.end_date %>
    <%end %>
    <br/>
    <br/>
    <br/>
    <%= link_to 'Add New Trip', new_trip_path %>
    <br/>
    <%= link_to 'View Users', users_path %>
  </ul>
  