<h1><%= @trip.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Places', trip_places_path(@trip) %>
<br />
<%= link_to 'Edit Trip', edit_trip_path(@trip) %>
<br />
<%= link_to 'Delete Trip', @trip, method: :delete %>
<br />
<br />
<br />
<%= link_to 'Back to Trips', root_path %>