<h1><%= @place.name %> - <%= @address.full_address %></h1>
<br/>
<%= link_to 'Edit Address', edit_place_address_path([@place, @address]) %>
<br/>
<%= link_to 'Delete Address', [@place, @address], method: :delete %>
<br/>
<%= link_to 'Back To Addresses', place_addresses_path(@place) %>